/* GLOBAL */

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.container {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* HEADER */

.main-navigation {
  line-height: 26px;
  color: #000000;
  font-weight: bold;

  background-color: #ffffff;
}

.site-navigation {
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;

  opacity: 0.3;
}

/* INDEX page */

.intro div {
  width: 100%;
  height: 512px;
}

.intro-pic {
  background-color: #bad4e5;
  background-image: url("../img/background-mountains.jpg");
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.welcome-pic {
  background-image: url("../img/welcome-text.png");
  background-position: center;
  background-repeat: no-repeat;
}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.intro p {
  margin: 0;

  text-align: center;
}

.features-list,
.features-row {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-title {
  margin: 0;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.features-item {
  text-align: center;
}

.features p {
  margin: 0;
}

.special-item {
  color: #ffffff;

  background-color: #81b3d2;
}

.special-item h3 {
  color: #ffffff;
}

.features-pic {
  background-color: #ffffff;
}

.features-row:last-child {
  background-color: #eeeeee;
}

.search-form p {
  margin: 0;

  text-align: center;
}

.search-form-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}

.button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  border: none;
}

.button-open-form {
  background-color: #89796f;
}

.button-open-form:hover,
.button-open-form:focus {
  background-color: #76665d;
}

.button-open-form:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #625147;
}

.main-map img {
  width: 100%;
  height: auto;
}

/* CATALOG page */

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active,
.site-navigation-current a:focus {
  color: #766357;
}

.filter-form {
  color: #ffffff;

  background-color: #809ebf;
  background-image: url("../img/filter-background.jpg");
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter input {
  font: inherit;
  color: #ffffff;
  text-align: center;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.catalog-result {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.catalog-sort {
  font-size: 12px;
  line-height: 18px;
}

.catalog-sort p {
  color: #000000;
}

.sort-category {
  padding: 0;
  margin: 0;

  list-style: none;
}

.sort-category a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sort-category a:hover,
.sort-category a:focus {
  color: #81b3d2;
}

.sort-category a:active {
  color: #000000;

  border: none;
}

.sort-item-current a,
.sort-item-current a:hover,
.sort-item-current a:active,
.sort-item-current a:focus {
  color: #81b3d2;

  border: none;
}

.sort-priority {
  padding: 0;

  list-style: none;
}

.sort-priority a {
  color: #cacaca;
  text-transform: uppercase;
}

.sort-priority a:hover,
.sort-priority a:focus {
  color: #000000;
}

.sort-priority a:active {
  color: #81b3d2;
}

.sort-arrow-current a,
.sort-arrow-current a:hover,
.sort-arrow-current a:active,
.sort-arrow-current a:focus {
  color: #81b3d2;
}

.catalog-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-list h3 {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.catalog-title {
  color: #000000;
}

.catalog-title:hover,
.catalog-title:focus {
  color: #81b3d2;
}

.catalog-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list p {
  margin: 0;
}

.catalog-button-info {
  font-size: 14px;
  line-height: 21px;

  background-color: #81b3d2;
}

.catalog-button-info:hover,
.catalog-button-info:focus {
  background-color: #669ec0;
}

.catalog-button-info:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.catalog-button-book {
  font-size: 14px;
  line-height: 21px;

  background-color: #766357;
}

.catalog-button-book:hover,
.catalog-button-book:focus {
  background-color: #604e43;
}

.catalog-button-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.catalog-item-stars {
  color: #81b3d2;
}

.catalog-item-rating {
  color: #666666;

  background-color: #f2f2f2;
}

/* FOOTER */

.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-align: center;

  list-style: none;
}

.hashtag a {
  color: #000000;
}

.hashtag a:hover,
.hashtag a:focus {
  color: #81b3d2;
}

.hashtag a:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer-social {
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  text-align: center;

  list-style: none;
}

.social-button a {
  color: #ffffff;

  background-color: #81b3d2;
}

.social-button a:hover,
.social-button a:focus {
  color: #ffffff;

  background-color: #669ec0;
}

.social-button a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright span {
  color: #000000;
}

/* MODAL */

.modal {
  color: #000000;
  font-weight: bold;

  background-color: #ffffff;
}

.modal h2 {
  margin: 0;
}

.modal-search-form input {
  font: inherit;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.modal-search-form input:hover {
  color: #000000;

  background-color: #ebebeb;
}

.modal-search-form input:focus {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;;
}

.button-input {
  font: inherit;
  color: #6a6a6a;

  border: none;
}

.button-input:hover,
.button-input:focus {
  color: #000000;
}

.button-input:active {
  color: #81b3d2;
}

.button-search-form {
  vertical-align: middle;

  font: inherit;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  background-color: #81b3d2;
  border: none;
}

.button-search-form:hover,
.button-search-form:focus {
  background-color: #669ec0;
}

.button-search-form:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
