/* GLOBAL */

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 5px 0 15px 0 rgba(0, 0, 0, 0.2),
              -5px 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* HEADER */

.main-header-logo {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  margin: auto;

  width: 138px;
  height: 69px;
}

.main-navigation {
  padding: 0 6%;

  line-height: 26px;
  color: #000000;
  font-weight: bold;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 15px 0;

  text-align: center;

  list-style: none;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(4n+1) {
  margin-right: 3%;

  text-align: left;
}

.site-navigation li:nth-child(4n+2) {
  text-align: left;
}

.site-navigation li:nth-child(4n+3) {
  margin-left: auto;
  margin-right: 3%;

  text-align: right;
}

.site-navigation li:nth-child(4n+4) {
  text-align: right;
}


.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;

  opacity: 0.3;
}

/* INDEX page */

.intro {
  position: relative;

  padding-top: 505px;

  background-color: #bad4e5;
  background-image: url("../img/background-mountains.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro::before {
  content: " ";
  position: absolute;
  top: 75px;
  right: 0;
  left: 0;

  margin: auto;
  width: 458px;
  height: 353px;

  background-image: url("../img/welcome-text.png");
  background-repeat: no-repeat;
}

.intro-title {
  padding-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.intro p {
  width: 50%;
  margin: auto;
}

.intro-text {
  padding: 57px 0;
  margin: 0;

  text-align: center;

  background-color: #ffffff;
}

.features {
  margin-bottom: 50px;
}

.features-row {
  display: flex;
  justify-content: space-between;

  background-color: #ffffff;
}

.features-row:last-child {
  background-color: #eeeeee;
}

.features-list,
.features-row {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-title {
  margin: 0;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.features-item {
  width: 33%;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;

  text-align: center;
}

.features-row:last-child .features-item {
  padding-bottom: 55px;
}

.features-item h3 {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features-item h4 {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 110px;
}

.features-row:nth-child(2) li {
  position: relative;
}

.features-row:nth-child(2) li:first-child::before {
  content: " ";

  position: absolute;
  top: 50px;
  right: 0;
  left: 0;

  margin: auto;
  width: 85px;
  height: 85px;

  background-image: url("../img/icon/features-accomodation.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.features-row:nth-child(2) li:nth-child(2)::before {
  content: " ";

  position: absolute;
  top: 50px;
  right: 0;
  left: 0;

  margin: auto;
  width: 85px;
  height: 85px;

  background-image: url("../img/icon/features-food.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.features-row:nth-child(2) li:last-child::before {
  content: " ";

  position: absolute;
  top: 50px;
  right: 0;
  left: 0;

  margin: auto;
  width: 85px;
  height: 85px;

  background-image: url("../img/icon/features-souvenirs.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.features-item span {
  position: relative;

  display: block;

  margin-bottom: 20px;
}

.features-item p {
  width: 72%;
  margin: 0 auto;
}

.features-row:nth-child(2) p {
  margin-bottom: 30px;
}

.features-pic {
  width: 67%;
  height: 257px;

  overflow: hidden;
}

.features-pic img {
  width: 100%;
  height: auto;
  margin: -10% 0 0 0;
  align: center;
}

.special-item {
  color: #ffffff;

  background-color: #81b3d2;
}

.special-item h3 {
  color: #ffffff;
}

.search-form {
  position: relative;
}

.search-form p {
  margin: 0;

  text-align: center;
}

.search-form-title {
  padding-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}

.button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  border: none;
}

.button-open-form {
  display: block;

  padding: 30px 140px;
  margin: 0 auto;
  margin-top: 50px;

  background-color: #89796f;
}

.button-open-form:hover,
.button-open-form:focus {
  background-color: #76665d;
}

.button-open-form:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #625147;
}

.main-map {
  position: relative;
}

/* CATALOG page */

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active,
.site-navigation-current a:focus {
  color: #766357;
}

.filter-form {
  display: flex;
  padding: 30px 6%;
  min-height: 155px;

  color: #ffffff;

  background-color: #809ebf;
  background-image: url("../img/filter-background.jpg");
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter fieldset {
  border: none;
}

.filter fieldset:first-child,
.filter fieldset:nth-child(2) {
  width: 23%;

  outline: 3px solid yellow;
}

.filter fieldset:last-child {
  width: 33%;
  margin-left: auto;

  outline: 3px solid yellow;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter input {
  font: inherit;
  color: #ffffff;
  text-align: center;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.sort {
  display: flex;
  align-items: baseline;

  padding: 0 6%;
  padding-top: 25px;
}

.catalog-result {
  width: 136px;
  padding-right: 30px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.catalog-sort {
  display: flex;
  align-items: baseline;

  width: 100%;
  font-size: 12px;
  line-height: 18px;
}

.catalog-sort fieldset{
  border: none;
}

.catalog-sort fieldset:last-child {
  margin-left: auto;
}

.catalog-sort p {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;

  color: #000000;
}

.sort-by-category {
  display: flex;

  padding: 0;
  padding-left: 20px;
  margin: 0;

  list-style: none;
}

.sort-by-category li {
  padding-right: 30px;

  text-align: center;
}

.sort-by-category label {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sort-by-category label:hover,
.sort-by-category label:focus {
  color: #81b3d2;
}

.sort-by-category label:active {
  color: #000000;

  border: none;
}

.sort-item-current label,
.sort-item-current label:hover,
.sort-item-current label:active,
.sort-item-current label:focus {
  color: #81b3d2;

  border: none;
}

.sort-by-priority {
  display: flex;
  padding: 0;

  list-style: none;
}

.sort-by-priority li{
  padding-left: 12px;
}

.sort-by-priority label {
  color: #cacaca;
  text-transform: uppercase;
}

.sort-by-priority label:hover,
.sort-by-priority label:focus {
  color: #000000;
}

.sort-by-priority label:active {
  color: #81b3d2;
}

.sort-arrow-current label,
.sort-arrow-current label:hover,
.sort-arrow-current label:active,
.sort-arrow-current label:focus {
  color: #81b3d2;
}

.catalog {
  padding: 0 6%;
}

.catalog-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-list h3 {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.catalog-name a {
  color: #000000;
}

.catalog-name a:hover,
.catalog-name a:focus {
  color: #81b3d2;
}

.catalog-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list p {
  margin: 0;
}

.catalog-button-info {
  font-size: 14px;
  line-height: 21px;

  background-color: #81b3d2;
}

.catalog-button-info:hover,
.catalog-button-info:focus {
  background-color: #669ec0;
}

.catalog-button-info:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.catalog-button-book {
  font-size: 14px;
  line-height: 21px;

  background-color: #766357;
}

.catalog-button-book:hover,
.catalog-button-book:focus {
  background-color: #604e43;
}

.catalog-button-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.catalog-item {
  padding: 30px 0;

  outline: 3px solid red;
}

.catalog-item-stars {
  color: #81b3d2;
}

.catalog-item-rating {
  color: #666666;

  background-color: #f2f2f2;
}

/* FOOTER */

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  opacity: 0.9;
}

.hashtag {
  width: 33%;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-align: center;

  list-style: none;
}

.hashtag a {
  color: #000000;
}

.hashtag a:hover,
.hashtag a:focus {
  color: #81b3d2;
}

.hashtag a:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  text-align: center;

  list-style: none;
}

.social-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;

  background-color: #81b3d2;
}

.social-button a:hover,
.social-button a:focus {
  background-color: #669ec0;
}

.social-button a:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;

  text-align: center;
}

.footer-copyright span {
  color: #000000;
}

.footer-copyright a {
  width: 115px;
  height: 41px;
  margin-left: 10px;
}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
  fill: #81b3d2;
}

.footer-copyright a:active path {
  fill: #bdbbbc;
}

/* MODAL */

.modal {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  display: ;

  width: 570px;
  height: 400px;
  margin: auto;
  padding: 55px;
  box-sizing: border-box;

  color: #000000;
  font-weight: bold;

  background-color: #ffffff;
}

.modal-search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-search-form p {
  display: flex;
  align-items: baseline;
  margin: 0;
  margin-bottom: 30px;
}

.date-category {
  width: 100%;
}

.age-category {
  width: 50%;
}

.age-category-kids label {
  margin-left: 50px;
}

.modal-search-form input {
  position: relative;

  width: 345px;
  height: 38px;
  padding: 10px;
  margin-left: auto;
  box-sizing: border-box;

  font: inherit;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.age-category p {
  width: 325px;
}

.age-category input {
  width: 115px;

  text-align: center;
}

.modal-search-form input:hover {
  color: #000000;

  background-color: #ebebeb;
}

.modal-search-form input:focus {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;;
}

.button-calendar {
  position: absolute;
}

.button-calendar-arrival {
  right: 65px;
  top: 62px;
}

.button-calendar-departure {
  right: 65px;
  top: 130px;
}

.button-calendar:hover path,
.button-calendar:focus path {
  fill: #000000;
}

.button-calendar:active path {
  fill: #81b3d2;
}

.age-category-adults .button-remove {
  position: absolute;
  z-index: 2;
  left: 180px;
  top: 200px;

  font-size: 21px;
}

.age-category-adults .button-add {
  position: absolute;
  z-index: 2;
  left: 262px;
  top: 200px;

  font-size: 21px;
}

.age-category-kids .button-remove {
  position: absolute;
  z-index: 2;
  left: 410px;
  top: 200px;

  font-size: 21px;
}

.age-category-kids .button-add {
  position: absolute;
  z-index: 2;
  left: 493px;
  top: 200px;

  font-size: 21px;
}

.button-input {
  padding: 0;
  height: 0;

  font: inherit;
  color: #a9a9a9;

  border: none;
  outline: none;
}

.button-input:hover,
.button-input:focus {
  color: #000000;
}

.button-input:active {
  color: #81b3d2;
}

.button-search-form {
  flex-grow: 1;

  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;

  vertical-align: middle;

  font: inherit;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  background-color: #81b3d2;
  border: none;
}

.button-search-form:hover,
.button-search-form:focus {
  background-color: #669ec0;
}

.button-search-form:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
